{{define "backend/member/edit.html"}}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>编辑用户</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{{template "backend/public/header.html"}}
</head>
<body>
<div class="ok-body">
	<!--form表单-->
	<form class="layui-form layui-form-pane ok-form" action="/backend/member/user-edit-post" method="post" enctype="multipart/form-data">

		<div class="layui-form-item">
			<label class="layui-form-label">用户名</label>
			<div class="layui-input-block">
				<input type="text" value="{{.UserInfo.Username}}" disabled class="layui-input layui-disabled">
			</div>
		</div>
		{{$roleID := .UserInfo.RoleID}}
		<div class="layui-form-item">
			<label class="layui-form-label">角色</label>
			<div class="layui-input-block">
				<select name="role_id" lay-verify="required">
					{{range $k,$v := .Roles}}
						<option value="{{$v.ID}}" {{if eq $v.ID $roleID}} selected="selected"{{end}}>{{$v.RoleName}}</option>
					{{end}}
				</select>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">邮箱</label>
			<div class="layui-input-block">
				<input type="email" name="email" value="{{.UserInfo.Email}}" placeholder="请输入邮箱" autocomplete="off" class="layui-input" lay-verify="required">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">昵称</label>
			<div class="layui-input-block">
				<input type="text" name="rname" value="{{.UserInfo.Rname}}" placeholder="请输入昵称" autocomplete="off" class="layui-input" lay-verify="required">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">密码</label>
			<div class="layui-input-block">
				<input type="password" name="password" value="" placeholder="请输入密码" autocomplete="off" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">重复密码</label>
			<div class="layui-input-block">
				<input type="password" name="repassword" value="" placeholder="请再次输入密码" autocomplete="off" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
				<select name="state">
					<option value="1" {{if eq .UserInfo.State 1}} selected="selected" {{end}}>启用</option>
					<option value="0" {{if eq .UserInfo.State 0}} selected="selected" {{end}}>关闭</option>
				</select>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">头像</label>
			<div class="layui-input-inline">
				<input type="text" name="avatar" value="{{.UserInfo.Avatar}}" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<button type="button" class="layui-btn upload-img" data-url="/backend/upload"><i class="layui-icon"></i>上传文件</button>
			</div>
			<div class="layui-input-inline">
				{{if eq .UserInfo.Avatar ""}}
				<img src="/uploads/nophoto.jpg" alt="图片没有上传哦！" title="图片没有上传哦！" width="60" height="60" style="border: 1px solid #eee;padding: 0;margin-left:-75px;">
					{{else}}
					<img src="{{.UserInfo.Avatar}}" width="60" height="60" style="border: 1px solid #eee;padding: 0;margin-left:-75px;">
				{{end}}
			</div>
		</div>

		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block">
				<textarea name="desc" placeholder="请输入内容" class="layui-textarea">{{.UserInfo.Desc}}</textarea>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<input type="hidden" name="id" value="{{.UserInfo.ID}}">
				<button class="layui-btn" lay-submit lay-filter="save">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
</div>
<!--js逻辑-->
{{template "backend/public/footer.html"}}
</body>
</html>
{{end}}