{{define "backend/permission/edit.html"}}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>添加菜单</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{{template "backend/public/header.html"}}
</head>
<body>
<div class="ok-body">
	<!--form表单-->
	<form class="layui-form layui-form-pane ok-form" action="/backend/auth-permission/permission-edit-post" method="post" enctype="multipart/form-data">

		<div class="layui-form-item">
			<label class="layui-form-label">菜单名</label>
			<div class="layui-input-block">
				<input type="text" name="mname" value="{{.MenuInfo.Mname}}" placeholder="请输入菜单名" autocomplete="off" class="layui-input" lay-verify="required">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">父级菜单</label>
			<div class="layui-input-block">
				{{$p := .MenuInfo.PID}}
				{{$id := .MenuInfo.ID}}
				<select name="pid">
					<option value="0">顶级菜单</option>
					{{range $k,$v := .TreeList}}
						{{if eq $id $v.ID}}
						<option value="{{$v.ID}}" disabled>{{$v.Mname}}</option>
							{{else}}
						<option value="{{$v.ID}}" {{if eq $p $v.ID}} selected="selected"{{end}}>{{$v.Mname}}</option>
						{{end}}
					{{end}}
				</select>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">类型</label>
			<div class="layui-input-block">
			{{$t := .MenuInfo.Type}}
				<select name="type">
					<option value="0" {{if eq $t 0}} selected="selected"{{end}}>普通菜单</option>
					<option value="1" {{if eq $t 1}} selected="selected"{{end}}>外部链接</option>
				</select>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">地址</label>
			<div class="layui-input-block">
				<input type="text" name="url" value="{{.MenuInfo.Url}}" placeholder="请输入地址" autocomplete="off" class="layui-input" lay-verify="required">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">附加参数</label>
			<div class="layui-input-block">
				<input type="text" name="condition" value="{{.MenuInfo.Condition}}" placeholder="附加参数" autocomplete="off" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">排序</label>
			<div class="layui-input-block">
				<input type="text" name="ordernum" value="{{.MenuInfo.Ordernum}}" placeholder="排序" autocomplete="off" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">图标</label>
			<div class="layui-input-block">
				<input type="text" name="icon" value="{{.MenuInfo.Icon}}" placeholder="图标" autocomplete="off" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block">
				<textarea name="remark" placeholder="请输入内容" class="layui-textarea">{{.MenuInfo.Remark}}</textarea>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<input type="hidden" name="id" value="{{.MenuInfo.ID}}">
				<button class="layui-btn" lay-submit lay-filter="save">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
</div>
<!--js逻辑-->
{{template "backend/public/footer.html"}}
</body>
</html>
{{end}}