{{define "backend/role/add.html"}}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>添加角色</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{{template "backend/public/header.html"}}
</head>
<body>
<div class="ok-body">
	<!--form表单-->
	<form class="layui-form layui-form-pane ok-form" action="/backend/auth-role/role-add-post.shun" method="post" enctype="multipart/form-data">

		<div class="layui-form-item">
			<label class="layui-form-label">角色名</label>
			<div class="layui-input-block">
				<input type="text" name="role_name" value="" placeholder="请输入角色名" autocomplete="off" class="layui-input" lay-verify="required">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">角色权限</label>
			<div class="layui-input-block">
				<div id="role_menu" class="demo-tree-more"></div>
			</div>
		</div>

		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block">
				<textarea name="role_desc" placeholder="请输入内容" class="layui-textarea"></textarea>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="save">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
</div>
<!--js逻辑-->
{{template "backend/public/footer.html"}}

<script type="text/javascript">
	layui.use(['tree', 'util','jquery'], function(){
		var tree = layui.tree
			,layer = layui.layer
			,$ = layui.jquery;

		$.ajax({
			url:"/backend/auth-role/role-auth.shun",
			data: {id:0},
			dataType:"json",
			type:"get",
			success:function (data) {
				tree.render({
					elem: '#role_menu'
					,data: data
					,showCheckbox: true  //是否显示复选框
					,id: 'role_menu1'
					,isJump: false //是否允许点击节点时弹出新窗口跳转
					// ,click: function(obj){
					// 	var data = obj.data;  //获取当前点击的节点数据
					// 	layer.msg('状态：'+ obj.state + '<br>节点数据：' + JSON.stringify(data));
					// }
				});
			}
		});

	});
</script>
</body>
</html>
{{end}}