{{define "frontend/public/header.html"}}
<link rel="stylesheet" type="text/css" href="/static/frontend/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/frontend/css/nprogress.css">
<link rel="stylesheet" type="text/css" href="/static/frontend/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/frontend/css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="/static/frontend/images/icon.png">
<link rel="shortcut icon" href="/static/frontend/images/favicon.ico">
<script src="/static/frontend/js/jquery-2.1.4.min.js"></script>
<script src="/static/frontend/js/nprogress.js"></script>
<script src="/static/frontend/js/jquery.lazyload.min.js"></script>
<!--[if gte IE 9]>
<script src="/static/frontend/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="/static/frontend/js/html5shiv.min.js" type="text/javascript"></script>
<script src="/static/frontend/js/respond.min.js" type="text/javascript"></script>
<script src="/static/frontend/js/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
{{end}}